<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% block head %}
            <link rel="stylesheet" type="text/css" href="/style.css">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <header>
               <div class="title">
               <h1>Funções assíncronas e Máscaras de Input </h1>
               </div>
            </header>

            {% block content %}{% endblock %}
        </div>
        <script src="/index.js"></script>
    </body>
</html>