@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(28, 25, 25);
}
html,body{
    min-height: 100vh; 
    
}
header{
    width: 100%;
    text-align: center;
    padding: 26px;
    color: white;
    background-color: rgb(43, 40, 40);
    border-bottom: solid 3px rgba(0, 0, 0, 0.384);
    font-size: 12px;
    text-transform: uppercase;
}
.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
   
}
